# DSC BOOTCAMP 25'

##What is Python ?

Python is a popular, easy-to-learn programming language used for web development, data science, AI, automation, and more.

**Why Python?**


*   **Simple & Readable** ‚Äì Uses plain English-like syntax.
*   **Beginner-Friendly** ‚Äì Great for first-time coders.
*   **Powerful** ‚Äì Used in big tech companies like Google and Netflix.

***To climb Mt. Everest, you need a good pair of shoes***

***To excel in the field of Data Science and Machine Learning, you need a good hold on Python***

# Python DataTypes

In [ ]:

#integer -5 , 65
#float(decimal valued integers) - 25.2
#strings -  agrim
#booleans - true or false

In [ ]:
# int value - it reduces your float value to int value -> floor function is implied here

In [ ]:
a = 5;

In [ ]:
b = 3.2;

NameError: name 'true' is not defined

## Arithmetic Operations

* multiplication -> *
* a+b - addition
* a-b - subt
* a/b - division
* % - modulo
* ** - exponential
* a//b - floor division

In [ ]:
 a = 5
 b = 2

In [ ]:
 c = a+b

In [ ]:
 print( a-b)
 print(a/b)
 print( a//b)
 print( a **2)

3
2.5
2
25

## Variables

In [ ]:
n=10

**Variable_name = value**

In [ ]:
name = "Guransh"
print(name)

Guransh

# Input/Output in Python

### Fetching Input

- **input is always taken as string**

* input("prompt")

In [ ]:
name = input("Please tell me your name : ")

Please tell me your name : Soam

* input is taken by default in form of string

In [ ]:
age = int(input("Enter your age:"))

Enter your age:15

In [ ]:
new = age +5

In [ ]:
print(new)

20

### Displaying on Screen

In [ ]:
print(a)
print(b)
print(c)

5
2
7

In [ ]:
# f string formatted output
# name, age
# f"abc abc {var_name}"
#My name is Agrim verma, my age is 19 years

In [ ]:
print(f"My name is {name} and my age is {age}")

My name is Soam and my age is 15

# Some common built in functions

In [ ]:
type(name)

str

In [ ]:
type(age)

int

In [ ]:
type(age)

NEW_NAME= "PARTH"

In [ ]:
len(name)

4

## Strings



*   A string is a sequence of characters enclosed in quotes (' ', " ", ''' ''', or """ """)
*   Indexing starts from 0

In [ ]:
fav_subject = "Professional_comm"

In [ ]:
len(fav_subject)

17

In [ ]:
# String slicing - var_name[x:y] -> x is the starting index(INCLUSIVE), y is the ending index(EXCLUSIVE)

Note -

* .title()
* .upper()
* .lower()

In [ ]:
fav_subject.upper()

'PROFESSIONAL_COMM'

In [ ]:
fav_subject.lower()

'professional_comm'

In [ ]:
my_fav = "dbms"

In [ ]:
my_fav.title()

'Dbms'

## Note -

*   To check if a string contains a character (or a sequence of characters), we use the in operator , returns true or false

True

# Comparison Operators



*   a > b
*   a >= b
* a < b
* a <= b
* a == b
* a != b

In [ ]:
fav_subject.title()

'Professional_Comm'

In [ ]:
fav = "man_pro"

In [ ]:
fav.title()

'Man_Pro'

# If else

In [ ]:
'''if(expression):
    #work to be done
  else(expression):
    #work to be done
'''

In [ ]:
aura = 100
marks = float(input("Please enter your mst marks: "))

if(marks>=25):
  print("Aura improved !!")
  aura = aura +100
elif(marks == 10):
  print("Aura too low")
else:
  print("Aura decreased")
  aura = aura -50

print(f"My new aura is {aura} ")

Please enter your mst marks: 5
Aura decreased
My new aura is 50

# Loops

###üîÅ Loop it Like a Pro!

* Loops are essential in machine learning. Whether it's training over 1000 images or processing records in a dataset, you'll use them everywhere.

### For Loop

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4



---

## Note -

* #range(start(inclusive), stop(is exclusive), step)

### QUICK TASK -

Write a for loop to write table of 2

In [ ]:
for i in range(20, 30 , 1):
  print(i)

20
21
22
23
24
25
26
27
28
29

**For loop is a definite loop**

**While loop is an indefinite loop**

**KBNJ - update your iterator**

### While Loop

In [ ]:
k =1

while k<=6:
  if(k ==4):
    break
  print(k)
  k = k+1

1
2
3

In [ ]:
 i =1
while i <5:
  print(i)
  i=i+1

1
2
3
4

**Explore Yourself -**

*   Loop Control Statements ( break , continue)
*   Nesteed Loops



---



---

**Day 3 Starts from here -**

# Data Structures in Python

*   Lists
*   Sets
* Dictionaries
* Tuples

# Lists

A List is a data structure in Python that is **mutable** , or **changeable**, **ordered sequence** of elements. Each element or value that is inside of a list is called an **ITEM**. Just as strings are defined as characters between quotes, lists are defined by having values between **SQUARE BRACKETS [ ]**

In [ ]:
my_lst = [1,2,3,4,5]
print(my_lst)
type(my_lst)

[1, 2, 3, 4, 5]

list

In [ ]:
my_lst2=[1,2,36,45,'hello']
print(my_lst2)

[1, 2, 36, 45, 'hello']

##  Some Inbuilt Functions of Lists

### Append

Append by default adds in the last index of the list

*.append("item to add") is used to add items in the list*

In [ ]:
my_lst.append(6)
print(my_lst)

[1, 2, 3, 4, 5, 6, 6]



---


**Note - INDEXING IN LIST**

Remember Indexes start with 0 !


---


**Note - Slicing**

ex - lst[x,y]  here, x is the starting index (Inclusive) and y is the ending index (Exclusive)


---

In [ ]:
## Negative indexing

### Insert



*   to add/insert in a specific order
*   .insert( index you wanna insert at , "data/string you wanna insert")

In [ ]:
lst = [1,2,3]

In [ ]:
lst.insert(2,"hello")

In [ ]:
print(lst)

[1, 2, 'hello', 3]

### Extend



*   Unlike append method, when we try to add two elements together , we get nested list. But by using EXTEND METHOD, both the elements are added
in the list like individual items

In [ ]:
lst.append([8,9])

In [ ]:
print(lst)

[1, 2, 'hello', 3, [8, 9]]

In [ ]:
lst.extend([10,11])

In [ ]:
print(lst)

[1, 2, 'hello', 3, [8, 9], 10, 11]

### .Pop() Method

By default, if no index is provided, it removes the last index item from the list

In [ ]:
lst.pop()

11

In [ ]:
lst.pop(2)

'hello'

In [ ]:
print(lst)

[1, 2, 3, [8, 9], 10]

In [ ]:
## .remove() function - it will remove by values

### Some Common Operations that we can perform on lists -

*   **count() :** Calculates total occurence of given element of list
*   **Len() :** calculates total length of list
* **.index(value , start_idx , end_idx) :**  Returns the index of first occurence.
* **min() :** Returns the minimum value of the list
* **max() :** Returns the maximum value of the list



---

# Sets

A set is an unordered collection data type that is iterable, mutable, and has **NO DUPLICATE ELEMENTS**. Python's set class represents the mathematical notion of a set. This is based on a data structure known as HASH TABLE

* Sets do not support indexing
* **{ }** are used

In [ ]:
'''
Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))
'''

In [ ]:
my_set = {1,2,3,4}
type(my_set)

set

In [ ]:
print(my_set)

{1, 2, 3, 4}

In [ ]:
st = {11,11,2,3,5,2,3,11}

In [ ]:
print(st)

{11, 2, 3, 5}

**Deletion from sets**

In [ ]:
st.remove(6)

KeyError: 6

## Note -

- .remove()  -> it will give a error if the thing is not present
-.discard()  -> it will not give any error if the thing is not present

### Inbuilt Functions in Sets

*   .add()
*   .difference()
* .intersection()

In [ ]:
y_subjects={"ed","electronics","Environment"}

In [ ]:
m_subjects={"chemistry", "physics","Environment"}

In [ ]:
m_subjects.difference(y_subjects)

{'chemistry', 'physics'}

In [ ]:
y_subjects.difference(m_subjects)

In [ ]:
y_subjects.intersection(m_subjects)

{'Environment'}

**Explore Yourself -**

*   Difference update
*   Intersection update

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with **curly brackets**, and they have keys and values.

*   Indexing is possible in Dictionaries and here index is the keys or key names

In [ ]:
# key , value

my_dict={"key": "value" , "key":"value", "key":"value"}

In [ ]:
car = {"car1": "Mercedes", "car2": "BMW", "car3": "Volvo"}

In [ ]:
type(car)

dict

In [ ]:
print(car["car1"])

Volvo

**Note - We can loop through the dictionary's keys**

In [ ]:
for x in car.items[x]:
  print(x)

TypeError: 'builtin_function_or_method' object is not subscriptable



---

## Overwriting Keys
**Note - We can overwrite a key with a new value by appending a new value to that key**

*for ex - my_dict['car1'] = 'Ignis'*

In [ ]:
#my_dict['key'] = 'new value'

# Nested Dictionary - IMPORTANT

In [ ]:
car1_model = {"Mercedes":1980, "BMW": 2020}
car2_model = {"Volvo":1990}
car3_model = {"Rolls":2023}

In [ ]:
car_type = {'car1': car1_model , 'car2': car2_model , 'car3':car3_model}

In [ ]:
print(car_type['car1'])

{'Mercedes': 1980, 'BMW': 2020}

In [ ]:
print(car_type['car3'])

{'Rolls': 2023}

# Tuples

Tuple is **NON MUTABLE** i.e. once you have defined a tuple, you cannot change the elements of a tuple

**Indexing is possible in tuples**

**( ) is used**

**indexing starts from 0**

In [ ]:
my_tuple= (1,2,3,4)

In [ ]:
print(my_tuple)

(1, 2, 3, 4)

In [ ]:
type(my_tuple)

tuple

**Note - Indexing is possible in TUPLES and index starts from 0**

**IMPORTANT NOTE - WE CANNOT CHANGE AN ITEM IN A TUPLE AS TUPLES ARE UN-MUTABLE( does not support item assignment) . HOWEVER, WE CAN CHANGE/REPLACE THE ENTIRE TUPLE.**

In [ ]:
my_tu = (1,2,3,4, 2 , 3)

## INBUILT FUNCTIONS OF TUPLES


* .count() -> return me the no. of occurences of a item/thing
* .index() -> returns me the index of the first occurence of an item in a tuple

In [ ]:
my_tuple.count(7)

0

In [ ]:
my_tu.index(3)

2

# Lambda function

* lambda is just a mini anonymous function
* lambda arguments: expression

In [ ]:
def square(x):
    return x **2

print(square(4))  # Output: 16
lambda x: x**2
lambda x,y: x+y

In [ ]:
add = lambda x, y: x + y
print(add(3, 5))  # Output: 8

8

In [ ]:
# Square a number using lambda
square = lambda x: x ** 2
print("5 squared:", square(5))

5 squared: 25

In [ ]:
nums = [1, 2, 3, 4]
# list(map(lambda x: x**2,nums))
squares = list(map(lambda x : x**2,nums))
print(squares)

list(map(lambda x: x**3,nums))

[1, 4, 9, 16]

In [ ]:
cube = list(map(lambda x: x ** 3,nums))
print(cube(0)  )



---



---